@import compass/reset
@import compass/css3/box-sizing
@import compass/css3/transform

+global-reset

html *
  +box-sizing(border-box)

html, body
  height: 100%
  margin: 0
  max-width: 1594px
  overflow: hidden
  padding: 0
  width: 100%

body
  background: url(/images/shattered.png)
