@import compass/reset
@import compass/css3/box-sizing
@import compass/css3/transform

+global-reset

html *
  +box-sizing(border-box)

html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0



#board
  background: rgba(0, 255, 0, 0.4) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYV2NkIA74MBKnjmFUId6AAgePDzFhCQA76wMDaVuK3AAAAABJRU5ErkJggg==")
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%

#viewport
  +transform(translate(-50%,-50%))
  border: 5px solid rgba(0, 0, 0, 0.1)
  height: 50%
  left: 50%
  overflow: hidden
  position: absolute
  top: 50%
  width: 50%
  min-width: 500px
  min-height: 300px
